# ignore binary files and subdirectories
vs2019/bin/**/**
vs2019/bin/**/*.*

# ignore binary files and subdirectories in 'build/[ProjectName]/bin'
vs2017/build/**/bin/**
vs2017/build/**/bin/*.*
vs2019/build/**/bin/**
vs2019/build/**/bin/*.*

# ignore object files and subdirectories in 'build/[ProjectName]/obj'
vs2017/build/**/obj/**
vs2017/build/**/obj/*.*
vs2019/build/**/obj/**
vs2019/build/**/obj/*.*

# ignore assets and subdirectories in 'build/[ProjectName]/Assets'
vs2017/build/**/Assets/**
vs2017/build/**/Assets/*.*
vs2019/build/**/Assets/**
vs2019/build/**/Assets/*.*

# ignore bundle artifacts and subdirectories
vs2019/build/**/BundleArtifacts/**
vs2019/build/**/BundleArtifacts/*.*