# ignore legacy files
legacy/**
legacy/*.*

# ignore binary files
**/bin/**
**/bin/*.*

# ignore object files
**/obj/**
**/obj/*.*

# ignore assets
**/Assets/**
**/Assets/*.*

# ignore AppPackages
AppPackages/**
AppPackages/*.*

# ignore pfx files
**/*.pfx